<h1><%= @listing.name %></h1>

<%= image_tag @listing.photo %>
<p><%= @listing.description %></p>

<div class="bid-container">
	<% if @bids.nil? %>
		<div>
			nada
		</div>
	<% else %>
		<% @bids.each do |b| %>
			<div class="bid-indiv">
				<%= link_to b.user.username, b.user %>
				<div><%= b.amount %></div>
			</div>
		<% end %>
	<% end %>
</div>

<% if flash[:error].present? %>
	<p><%= flash[:error] %></p>
<% end %>

<div class="form-container">
	<%= form_for @bid, :remote => true do |b| %>
	<% if @bids.last.present? %>
		<p>Highest bid is: <%= @bids.last.amount %></p>
	<% else %>
		<p><i>There are no bids on this listing yet.</i></p>
	<% end %>
	<%= hidden_field_tag :listing_id, @listing.id %>
	<fieldset>
		<%= b.label :amount, "Enter an amount" %>
		<%= b.text_field :amount %>
	</fieldset>

	<%= b.submit "Place bid!" %>
	<% end %>
</div>

<div class="comment-form-container">
	<%= form_for @comment, :remote => true do |f| %>
	<div class="form-group">
		<%= hidden_field_tag :listing_id, @listing.id %>
		<%= f.text_area :content, placeholder: "Add a comment" %>
		</div>
		<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>
<div class="comments-container">
	<% if @comments.nil? %>
	<div>
		Eat a dick
	</div>
	<% else %>
		<% @comments.each do |b| %>
			<div class="comment-indiv">
				<a href="/users/<%= b.user.id %>">
					<%= b.user.username %>
				</a>
				<div><%= b.content %></div>
			</div>
		<% end %>
	<% end %>
</div>

<% if @current_user == @listing.user %>
	<% unless @listing.bids.present? %>
		<%= link_to "Delete Listing", @listing, :method => 'delete', :data => {:confirm => 'Are you sure you wish to delete this listing?'} %>
	<% end %>
<% end %>



<!-- First check if the expiry date is within 2 minutes, if so display the amount in seconds. -->
<% if ((@listing.expiry - @listing.created_at) / 60 ) < 2 %>
	<p><%= (@listing.expiry - @listing.created_at).to_i %> seconds remaining</p>

<!-- Now check if its sooner than 2 hours, if so display in minutes -->
<% elsif ((@listing.expiry - @listing.created_at) / 60 / 60 ) < 2 %>
	<p><%= ((@listing.expiry - @listing.created_at) / 60).to_i %> minutes remaining</p>


<!-- Next check if it's within a day, if so display in hours -->
<% elsif ((@listing.expiry - @listing.created_at) / 60 / 60 / 24) < 1 %>
	<p><%= ((@listing.expiry - @listing.created_at) / 60 / 60 ).to_i %> hours remaining </p>

<!-- Else set it in days. -->
<% else %>
	<p><%= ((@listing.expiry - @listing.created_at) / 60 / 60 / 24).to_i %> days remaining </p>

<% end %>
<p>Expiry: <%= @listing.expiry.strftime("%A, %e %B %H:%M %p %Z") %></p>

<% if @current_user.present? %>
	<%= form_for @follow do |f| %>
		<%= hidden_field_tag :listing_id, @listing.id %>
		<%= f.button "Follow Listing" %>
	<% end %>
<% end %>
