<h1><%= @listing.name %></h1>

<%= image_tag @listing.photo %>
<p><%= @listing.description %></p>

<div class="bid-container">
	<% @listing.bids.each do |b| %>

		<div class="bid-indiv">
			<%= link_to b.user.username, b.user %>
			<div><%= b.amount %></div>
		</div>
	<% end %>
</div>

<% if @current_user == @listing.user %>
	<%= link_to "Delete Listing", @listing, :method => 'delete' %>
<% end %>
