<h1><%= @user.username %>'s Profile</h1>

<p>Welcome, <i><%= @user.firstname %></i></p>


<ul>
  <% @user.listings.each do |l| %>
    <li><%= link_to l.name, l %></li>
  <% end %>
</ul>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" scope="manage_pages"></div>

<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Delete Profile - THIS WILL NOT BE HERE IN FINAL VERSION", user_path, :method => 'delete', :data => {:confirm => 'Are you sure you wish to delete your account? It cannot be reversed.'} %>
